* {border:0px;margin:0px;padding:0px;}
@font-face {
	font-family:thelogo;
	src: url(Alex.ttf);
}
html, body, .container {
	width:100vw;
	height:100%;
	background-color:#FCF5F4;
	overflow-x:hidden;
	overflow-y:scroll;
}
#cart {
	background-color:#FCF5F4;
	border:2px solid black;
	border-radius:15px;
	position:fixed;
	display:inline;
	left:-20px;
	width:40px;
	height:175px;
	top:50%;
	margin-top:-87.5px;
	font-family:arial;
	line-height:175px;
	font-size:40px;
	font-weight:500;
}
#loading-page {
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
}
#nav {
	display:block;
	overflow:hidden;
	width:100%;
	height:125px;
	border-bottom:1px solid black;
}
table {
	height:125px;
}
td {
	width:15%;
	text-align:center;
}
a {
	text-decoration:none;
	color:black;
	font-family:thelogo;
	font-size:50px;
}
a:hover {
	color:grey;
}
#banner-img {
	display:block;
	overflow:hidden;
	width:100%;
	height:200px;
	border-bottom:1px solid black;
}
#products {
	text-align:center;
}
.product {
	display:inline-block;
	height:375px;
	width:325px;
	padding:20px 20px 0px 20px;
}
.prices {
	font-family:thelogo;
	font-size:30px;
}